.DS_Store
# Word temporary
~$*.docx*

# Word Auto Backup File
Backup of *.docx*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*


*.doc
*.docx

/Doc
/Lectures